.vert .carousel-item-next.carousel-item-left,
.vert .carousel-item-prev.carousel-item-right {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.vert .carousel-item-next,
.vert .active.carousel-item-right {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100% 0);
}

.vert .carousel-item-prev,
.vert .active.carousel-item-left {
    -webkit-transform: translate3d(0,-100%, 0);
    transform: translate3d(0,-100%, 0);
}
.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}

.bottom-right{
    position: absolute;
    bottom: 0;
    right: 0;
}

.newsImg {
    object-fit: cover;
    width:245px;
    height:245px;
    border: solid 5px #ffffff ;
}

.module_header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px 0px;
    vertical-align: middle;
}
.module_title {
    flex-grow: 0;
    padding-right: 10px;
    font-weight: 400;
    font-size: 22px;
    line-height: 30.9px;
    margin-bottom: .5rem;
    font-family: inherit;
    color: inherit;
}

.module_divider {
    flex-grow: 1;
    height: 2px;
    background-color: #666;
}

.module_body {
    font-weight: 300;
    font-size: 16px;
    line-height: 22.5px;
    padding: 15px 15px;
    box-shadow: 0 0 11px rgb(33 33 33 / 20%);
    border-radius: .25rem;
}

.module_body_noheight{
    font-weight: 300;
    line-height: 22.5px;
    padding: 15px 15px;
    box-shadow: 0 0 11px rgb(33 33 33 / 20%);
    border-radius: .25rem;
}