.vert .carousel-item-next.carousel-item-left,
.vert .carousel-item-prev.carousel-item-right {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.vert .carousel-item-next,
.vert .active.carousel-item-right {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100% 0);
}

.vert .carousel-item-prev,
.vert .active.carousel-item-left {
    -webkit-transform: translate3d(0,-100%, 0);
    transform: translate3d(0,-100%, 0);
}
.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}

.bottom-right{
    position: absolute;
    bottom: 0;
    right: 0;
}

.newsImg {
    object-fit: cover;
    width:245px;
    height:245px;
    border: solid 5px #ffffff ;
}